<template>
  <Layout>
    <div>
      <div v-html="$page.about.content" />
    </div>
  </Layout>
</template>

<page-query>
query About($path: String!) {
    about(path: $path) {
        id
        content
    }
}
</page-query>

<script>
import TopNavLayout from "~/layouts/TopNavLayout.vue";

export default {
  components: {
    Layout: TopNavLayout,
  },
  metaInfo: {
    title: "Xavier Munroe About",
    meta: [
      {
        property: "og:title",
        content: "Xavier Munroe About Page",
      },
      {
        property: "og:type",
        content: "website",
      },
      {
        property: "og:image",
        content: "/images/home-page.png",
      },
      {
        property: "og:url",
        content: "https://www.nycxjm.me/about/",
      },
    ],
  },
};
</script>

<style lang="scss">
.about-content {
  font-size: 1.4rem;
}
</style>