<template>
  <Layout>
    <div class="home-page">
      <h1>{{ $page.home.heading }}</h1>
      <h3>{{ $page.home.subheading }}</h3>
      <home-nav :links="$page.home.links" />
    </div>
  </Layout>
</template>

<page-query>
query Home($path: String!) {
    home(path: $path) {
        id
        heading
        subheading
        links {
            name
            path
        }
    }
}
</page-query>

<script>
import HomeNav from "~/components/shared/Home-Nav.vue";
export default {
  components: {
    HomeNav,
  },
  metaInfo: {
    title: "Xavier Munroe",
    meta: [
      {
        property: "og:title",
        content: "Xavier Munroe's Website",
      },
      {
        property: "og:type",
        content: "website",
      },
      {
        property: "og:image",
        content: "/images/home-page.png",
      },
      {
        property: "og:url",
        content: "https://www.nycxjm.me/",
      },
    ],
  },
};
</script>

<style lang="scss">
@import "~/assets";

.home-page {
  display: flex;
  flex-direction: column;
  padding: 0 2.4rem;

  @include breakpoint(sm) {
    padding: 0 0.8rem;
  }

  h1,
  h3 {
    margin: 0.8rem 0;
    font-weight: $regular;
    letter-spacing: 0.4rem;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      top: 100%;
      left: 0;
      right: 0;
      background: $primary;
      height: 0.4rem;
      border-radius: 1rem;
    }
  }
}
</style>