<template>
  <Layout>
    <div>
      <h2>{{ $page.portfolio.heading }}</h2>
      <div class="projects-container">
        <div
          class="portfolio-project"
          v-for="(blurb, i) in $page.portfolio.blurbs"
          :key="i"
        >
          <a :href="blurb.link" target="_blank"
            >{{ blurb.title }}

            <g-image
              class="portfolio-img"
              :src="blurb.image"
              :alt="blurb.alt"
            />
          </a>
          <p>{{ blurb.description }}</p>
        </div>
      </div>
    </div>
  </Layout>
</template>

<page-query>
query Portfolio($path: String!) {
    portfolio(path: $path) {
        id
        heading
        blurbs {
            title
            description
            link
            image
            alt
        }
    }
}
</page-query>

<script>
import TopNavLayout from "~/layouts/TopNavLayout.vue";

export default {
  components: {
    Layout: TopNavLayout,
  },
  metaInfo: {
    title: "Xavier Munroe Portfolio",
    meta: [
      {
        property: "og:title",
        content: "Xavier Munroe Portfolio Page",
      },
      {
        property: "og:type",
        content: "website",
      },
      {
        property: "og:image",
        content: "/images/home-page.png",
      },
      {
        property: "og:url",
        content: "https://www.nycxjm.me/portfolio/",
      },
    ],
  },
};
</script>

<style lang="scss">
@import "~/assets";
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint(md) {
    flex-direction: row;
  }

  .portfolio-project {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    margin-bottom: 1.6rem;
    flex-wrap: wrap;

    @include breakpoint(md) {
      max-width: 45%;
    }

    a {
      text-decoration: none;
      font-size: 1.8rem;
      cursor: pointer;
      color: $body-color;
      margin-bottom: 0.8rem;
      display: flex;
      flex-direction: column;
    }

    .portfolio-img {
      width: 100%;
      margin-top: 0.8rem;
      @include breakpoint(md) {
        width: 30rem;
      }
    }
  }
}
</style>