<template>
  <Layout>
    <div>
      <h3>{{ $page.skills.heading }}</h3>
      <div class="skills">
        <div
          class="skill-section"
          v-for="(blurb, i) in $page.skills.blurbs"
          :key="i"
        >
          <g-image class="skill-icon" :src="blurb.image" :alt="blurb.alt" />
          <div>
            <h5>{{ blurb.name }}</h5>
            <p>{{ blurb.exp }}</p>
          </div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<page-query>
query Skills($path: String!) {
    skills(path: $path) {
        id
        heading
        blurbs {
            alt
            exp
            image
            name
        }
    }
}
</page-query>

<script>
import TopNavLayout from "~/layouts/TopNavLayout.vue";
export default {
  components: {
    Layout: TopNavLayout,
  },
  metaInfo: {
    title: "Xavier Munroe Skills",
    meta: [
      {
        property: "og:title",
        content: "Xavier Munroe Skills Page",
      },
      {
        property: "og:type",
        content: "website",
      },
      {
        property: "og:image",
        content: "/images/home-page.png",
      },
      {
        property: "og:url",
        content: "https://www.nycxjm.me/skills/",
      },
    ],
  },
};
</script>

<style lang="scss">
@import "~/assets";

.skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4.2rem;
  justify-content: space-between;

  .skill-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 3.2rem;

    @include breakpoint(md) {
      width: 30%;
    }

    .skill-icon {
      margin-right: 1.6rem;
      min-width: 5rem;
      height: 5rem;
    }

    h5 {
      margin-top: 0;
    }
  }
}
</style>