<template>
  <div class="home-nav">
    <nav>
      <g-link
        class="home-nav-link"
        v-for="(link, i) in links"
        :key="i"
        :to="link.path"
        >{{ link.name }}</g-link
      >
      <a :href="resumeUrl" target="_blank" download>Resume</a>
    </nav>
  </div>
</template>

<script>
export default {
  name: "Home-Nav",
  props: ["links"],
  computed: {
    resumeUrl() {
      return `${process.env.GRIDSOME_BASE_URL}xavier_resume.pdf`;
    },
  },
};
</script>

<style lang="scss">
@import "~/assets";

.home-nav {
  width: 100%;

  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
      @include breakpoint(md) {
        width: 25%;
      }
      width: 50%;
      text-decoration: none;
      font-size: 1.6rem;
      color: $body-color;
      margin-bottom: 0.8rem;
    }
  }
}
</style>