<template>
  <div class="top-nav">
    <nav class="main-nav">
      <g-link to="/">Home</g-link>
      <g-link to="/about/">About</g-link>
      <g-link to="/skills/">Skills</g-link>
      <g-link to="/portfolio/">Portfolio</g-link>
      <a :href="resumeUrl" target="_blank" download>Resume</a>
    </nav>
    <nav class="mobile-nav">
      <g-link to="/" class="mobile-home-link">Home</g-link>
      <div
        id="burger"
        :class="{ active: isBurgerActive }"
        @click.prevent="toggle"
      >
        <slot>
          <button type="button" class="burger-button" title="Menu">
            <span class="burger-bar burger-bar--1"></span>
            <span class="burger-bar burger-bar--2"></span>
            <span class="burger-bar burger-bar--3"></span>
          </button>
        </slot>
      </div>
    </nav>
  </div>
</template>

<script>
import { store, mutations } from "~/store.js";

export default {
  name: "TopNav",
  methods: {
    toggle() {
      mutations.toggleNav();
    },
  },
  computed: {
    isBurgerActive() {
      return store.isNavOpen;
    },
    resumeUrl() {
      return `${process.env.GRIDSOME_BASE_URL}xavier_resume.pdf`;
    },
  },
};
</script>

<style lang="scss">
@import "~/assets";

.top-nav {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  background-color: $primary;
  height: 3.2rem;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.05rem;

  .main-nav {
    display: none;

    @include breakpoint(md) {
      @include top-nav;

      a {
        text-decoration: none;
        font-size: 1.2rem;
        color: #fff;
      }
    }
  }

  .mobile-nav {
    @include breakpoint(md) {
      display: none;
    }
    @include top-nav;

    .hidden {
      visibility: hidden;
    }

    button {
      cursor: pointer;
    }

    button:focus {
      outline: 0;
    }

    .burger-button {
      position: relative;
      height: 30px;
      width: 32px;
      display: block;
      z-index: 999;
      border: 0;
      border-radius: 0;
      background-color: transparent;
      pointer-events: all;
      transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .burger-bar {
      background-color: #130f40;
      position: absolute;
      top: 50%;
      right: 6px;
      left: 6px;
      height: 2px;
      width: auto;
      margin-top: -1px;
      transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
        opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1),
        background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .burger-bar--1 {
      -webkit-transform: translateY(-6px);
      transform: translateY(-6px);
    }

    .burger-bar--2 {
      transform-origin: 100% 50%;
      transform: scaleX(0.8);
    }

    .burger-button:hover .burger-bar--2 {
      transform: scaleX(1);
    }

    .no-touchevents .burger-bar--2:hover {
      transform: scaleX(1);
    }

    .burger-bar--3 {
      transform: translateY(6px);
    }

    #burger.active .burger-button {
      transform: rotate(-180deg);
    }

    #burger.active .burger-bar {
      background-color: #fff;
    }

    #burger.active .burger-bar--1 {
      transform: rotate(45deg);
    }

    #burger.active .burger-bar--2 {
      opacity: 0;
    }

    #burger.active .burger-bar--3 {
      transform: rotate(-45deg);
    }

    .mobile-home-link {
      color: #fff;
    }

    a {
      text-decoration: none;
      font-size: 1.2rem;
      color: $primary;
    }
  }
}
</style>