html {
    min-height: 100vh;
    min-width: 100%;
}

body {
    height: 100vh;
    width: 100%;
}

.layout {
    height: 100%;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    padding: 1.6rem;
    margin-top: 2rem;

    @include breakpoint(md) {
        margin-left: 4rem;
        margin-right: 4rem;
        padding: 2.4rem 3.2rem;
    }
}