@mixin breakpoint($size) {
  @if $size == xs {
    @media screen and (max-width: 360px) {
      @content;
    }
  } @else if $size == sm {
    @media screen and (max-width: 767px) {
      @content;
    }
  } @else if $size == md {
    @media screen and (min-width: 768px) {
      @content;
    }
  } @else if $size == lg {
    @media screen and (max-width: 1199px) {
      @content;
    }
  } @else if $size == xl {
    @media screen and (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn 'Breakpoint values must be xs, sm, md, lg or xl';
  }
}

@mixin top-nav {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
}
