* {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  margin: 1.6rem 0rem;
}

h3,
h4,
h5,
h6 {
  margin: 1.2rem 0rem;
}

h1 {
  font-size: 4.8rem;

  @include breakpoint(xs) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;

  @include breakpoint(xs) {
    font-size: 2.4rem;
  }
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.2rem;
  font-weight: 400;
}

p {
  margin: 0.8rem 0rem;
}
