<template>
  <div class="top-nav-layout">
    <top-nav />
    <slot />
    <sidebar>
      <ul class="side-menu">
        <g-link to="/">Home</g-link>
        <g-link to="/about/">About</g-link>
        <g-link to="/skills/">Skills</g-link>
        <g-link to="/portfolio/">Portfolio</g-link>
        <a :href="resumeUrl" target="_blank" download>Resume</a>
      </ul>
    </sidebar>
  </div>
</template>

<script>
import Sidebar from "~/components/shared/Sidebar.vue";
import TopNav from "~/components/shared/TopNav.vue";

export default {
  name: "TopNavLayout",
  components: {
    TopNav,
    Sidebar,
  },
  computed: {
    resumeUrl() {
      return `${process.env.GRIDSOME_BASE_URL}xavier_resume.pdf`;
    },
  },
};
</script>

<style lang="scss">
.top-nav-layout {
  padding: 0 2.4rem;
  margin-top: 3.6rem;

  .side-menu {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
      margin: 0.8rem 0;
      font-size: 1.2rem;
      color: #fff;
    }
  }
}
</style>